In [35]:
import pandas as pd
airbnb_df = pd.read_csv("airbnb_kenya.csv")

DATA CLEANING

In [36]:
airbnb_df.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,name,last_modified,latitude,longitude,location
0,14502283,1461,54346523,Shared room,NaN,Kenya,NaN,Nairobi,33,5.0,1.0,1,NaN,100,NaN,Home next to the National Park!,58:34.2,-1.360570,36.761223,0101000020E610000044FB58C16F61424014B35E0CE5C4...
1,12181515,1461,52207070,Shared room,NaN,Kenya,NaN,Kilifi,3,5.0,4.0,1,NaN,65,NaN,family room,58:32.5,-3.252685,40.126621,0101000020E610000050FEEE1D35104440A18499B67F05...
2,5385690,1461,3528139,Shared room,NaN,Kenya,NaN,Mombasa,1,4.0,12.0,1,NaN,70,NaN,Geo Mara Mombasa Beach Getaway,58:32.5,-3.967296,39.749705,0101000020E6100000E7525C55F6DF4340B6696CAF05BD...
3,18011354,1461,2689184,Shared room,NaN,Kenya,NaN,Nairobi,1,4.0,6.0,1,NaN,80,NaN,Westlands Backpackers,58:32.5,-1.248991,36.796196,0101000020E61000005F9A22C0E96542402FF99FFCDDFB...
4,16296016,1461,106613972,Shared room,NaN,Kenya,NaN,Laikipia,0,4.5,6.0,1,NaN,75,NaN,A home away from home!,58:32.5,0.009103,37.091233,0101000020E610000072A8DF85AD8B4240D0285DFA97A4...

In [37]:
# Display information about missing values
print(airbnb_df.isnull().sum())

room_id                    0
survey_id                  0
host_id                    0
room_type                  0
country                 4764
city                       0
borough                 4764
neighborhood               0
reviews                    0
overall_satisfaction       0
accommodates               0
bedrooms                   0
bathrooms               4764
price                      0
minstay                 4764
name                       4
last_modified              0
latitude                   0
longitude                  0
location                   0
dtype: int64

In [38]:
# Drop the 'borough' column
airbnb_df.drop('borough', axis=1, inplace=True)

In [39]:
# Drop the 'bathrooms' column
airbnb_df.drop('bathrooms', axis=1, inplace=True)

In [40]:
#Drop the 'minstay' column
airbnb_df.drop('minstay', axis=1, inplace=True)

In [41]:
#Drop the 'room_id' column
airbnb_df.drop('room_id', axis=1, inplace=True)
#Drop the 'survey_id' column
airbnb_df.drop('survey_id', axis=1, inplace=True)
#Drop the 'host_id' column
airbnb_df.drop('host_id', axis=1, inplace=True)

In [42]:
#Drop the 'accomodates' column
airbnb_df.drop('accommodates', axis=1, inplace=True)
#Drop the 'latitude' column
airbnb_df.drop('latitude', axis=1, inplace=True)
#Drop the 'longitude' column
airbnb_df.drop('longitude', axis=1, inplace=True)

In [43]:
# Drop rows with empty values in the 'name' column
airbnb_df.dropna(subset=['name'], inplace=True)

In [44]:
#Drop the 'longitude' column
airbnb_df.drop('country', axis=1, inplace=True)

In [45]:
# Remove rows where 'neighborhood' is "Murang'a"
airbnb_df = airbnb_df[airbnb_df['neighborhood'] != "Murang'a"]
airbnb_df = airbnb_df[airbnb_df['neighborhood'] != "Migori"]

In [46]:
# Display information about missing values
print(airbnb_df.isnull().sum())

room_type               0
city                    0
neighborhood            0
reviews                 0
overall_satisfaction    0
bedrooms                0
price                   0
name                    0
last_modified           0
location                0
dtype: int64

In [47]:
airbnb_df.head(5)

,room_type,city,neighborhood,reviews,overall_satisfaction,bedrooms,price,name,last_modified,location
0,Shared room,Kenya,Nairobi,33,5.0,1,100,Home next to the National Park!,58:34.2,0101000020E610000044FB58C16F61424014B35E0CE5C4...
1,Shared room,Kenya,Kilifi,3,5.0,1,65,family room,58:32.5,0101000020E610000050FEEE1D35104440A18499B67F05...
2,Shared room,Kenya,Mombasa,1,4.0,1,70,Geo Mara Mombasa Beach Getaway,58:32.5,0101000020E6100000E7525C55F6DF4340B6696CAF05BD...
3,Shared room,Kenya,Nairobi,1,4.0,1,80,Westlands Backpackers,58:32.5,0101000020E61000005F9A22C0E96542402FF99FFCDDFB...
4,Shared room,Kenya,Laikipia,0,4.5,1,75,A home away from home!,58:32.5,0101000020E610000072A8DF85AD8B4240D0285DFA97A4...

In [48]:
# Remove duplicate rows
airbnb_df.drop_duplicates(inplace=True)

In [49]:
# Remove special characters from column names
airbnb_df.columns = airbnb_df.columns.str.replace('[^a-zA-Z0-9]', '_')

C:\Users\User\AppData\Local\Temp\ipykernel_11692\3740110621.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  airbnb_df.columns = airbnb_df.columns.str.replace('[^a-zA-Z0-9]', '_')

In [50]:
# List of stopwords to remove
stopwords = ["is", "and", "for", "to"]  # Add more stopwords as needed

# Function to remove stopwords from a string
def remove_stopwords(text):
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stopwords]
    return ' '.join(filtered_words)

# Apply the remove_stopwords function to the 'name' column
airbnb_df['name'] = airbnb_df['name'].apply(remove_stopwords)

In [51]:
print(airbnb_df.shape)

(4744, 10)

DATA WRANGLING

In [52]:
# Count the number of rows where 'overall_satisfaction' is greater than 2.0
count_high_satisfaction = (airbnb_df['overall_satisfaction'] > 2.0).sum()

print(f'Total number of rows with overall satisfaction greater than 2.0: {count_high_satisfaction}')

Total number of rows with overall satisfaction greater than 2.0: 1612

In [53]:
print(f"Before: {airbnb_df.shape}")

# Remove rows where 'overall_satisfaction' is less than 2.0
airbnb_df = airbnb_df[airbnb_df['overall_satisfaction'] >= 2.0]

print(f"After: {airbnb_df.shape}")

Before: (4744, 10)
After: (1680, 10)

In [54]:
# Display information about missing values
print(airbnb_df.isnull().sum())

room_type               0
city                    0
neighborhood            0
reviews                 0
overall_satisfaction    0
bedrooms                0
price                   0
name                    0
last_modified           0
location                0
dtype: int64

In [55]:
# Count the occurrences of each neighborhood
neighborhood_counts = airbnb_df['neighborhood'].value_counts()

# Display or print the neighborhood counts
print(neighborhood_counts)

Nairobi           884
Kilifi            164
Kwale             161
Mombasa           109
Nakuru             66
Kiambu             43
Kajiado            41
Kisumu             38
Lamu               29
Machakos           29
Laikipia           28
Nyeri              22
Uasin Gishu        13
Meru                6
Taita Taveta        6
Narok               6
Nyandarua           5
Homa Bay            5
Keiyo-Marakwet      3
Siaya               3
Kakamega            3
Trans Nzoia         3
Embu                2
Kisii               2
Kericho             1
Baringo             1
Nandi               1
Kirinyaga           1
Makueni             1
Marsabit            1
Nyamira             1
Busia               1
Bungoma             1
Name: neighborhood, dtype: int64

In [56]:
# Assuming 'neighborhood' is the name of the column
# Creating a function to map neighborhoods to themes
def map_neighborhood_to_theme(neighborhood):
    if any(city in str(neighborhood) for city in ['Nairobi', 'Nakuru']):
        return 'City'
    elif any(coastal_city in str(neighborhood) for coastal_city in ['Kilifi', 'Mombasa', 'Kwale', 'Lamu']):
        return 'Coastal'
    elif any(traditional_city in str(neighborhood) for traditional_city in ['Laikipia', 'Kajiado', 'Keiyo-Marakwet', 'Embu', 'Marsabit', 'Makueni', 'Narok']):
        return 'Countryside'
    elif any(lakeside_city in str(neighborhood) for lakeside_city in ['Siaya','Kisumu','Homa Bay']):
        return 'Lakeside'
    elif any(town_county in str(neighborhood) for town_county in ['Kericho','Nyeri','Kirinyaga', 'Nyamira', 'Nyandarua', 'Nandi']):
        return 'Green Cities'
    elif any(town_city in str(neighborhood) for town_city in ['Meru','Taita Taveta','Busia', 'Kisii', 'Kakamega', 'Kiambu', 'Bungoma']):
        return 'Town'
    elif any(town_county in str(neighborhood) for town_county in ['Machakos', 'Trans Nzoia','Baringo','Uasin Gishu']):
        return 'Small Town'
    else:
        return None  # You can change this to a default value if needed

# Apply the mapping function to create the 'theme' column
airbnb_df['theme'] = airbnb_df['neighborhood'].apply(map_neighborhood_to_theme)

In [57]:
# Display rows where the 'theme' column has missing values
missing_theme_rows = airbnb_df[airbnb_df['theme'].isnull()]['neighborhood']

# Display or print the values
print("Values in 'neighborhood' where 'theme' is missing:")
print(missing_theme_rows)

Values in 'neighborhood' where 'theme' is missing:
Series([], Name: neighborhood, dtype: object)

In [58]:
airbnb_df.head(10)

,room_type,city,neighborhood,reviews,overall_satisfaction,bedrooms,price,name,last_modified,location,theme
0,Shared room,Kenya,Nairobi,33,5.0,1,100,Home next National Park!,58:34.2,0101000020E610000044FB58C16F61424014B35E0CE5C4...,City
1,Shared room,Kenya,Kilifi,3,5.0,1,65,family room,58:32.5,0101000020E610000050FEEE1D35104440A18499B67F05...,Coastal
2,Shared room,Kenya,Mombasa,1,4.0,1,70,Geo Mara Mombasa Beach Getaway,58:32.5,0101000020E6100000E7525C55F6DF4340B6696CAF05BD...,Coastal
3,Shared room,Kenya,Nairobi,1,4.0,1,80,Westlands Backpackers,58:32.5,0101000020E61000005F9A22C0E96542402FF99FFCDDFB...,City
4,Shared room,Kenya,Laikipia,0,4.5,1,75,A home away from home!,58:32.5,0101000020E610000072A8DF85AD8B4240D0285DFA97A4...,Countryside
6,Shared room,Kenya,Nairobi,0,5.0,1,67,Apartment-wifi kitchen available,58:32.5,0101000020E6100000E27327D87F6B4240E199D024B164...,City
7,Shared room,Kenya,Mombasa,1,4.0,1,45,Barizi Apartment,58:30.8,0101000020E610000014083BC5AADB4340473EAF78EA21...,Coastal
8,Shared room,Kenya,Nairobi,8,4.0,1,45,Serene Accomodation,58:30.8,0101000020E6100000C4B0C398F4614240639CBF098548...,City
10,Shared room,Kenya,Mombasa,0,5.0,1,45,Room rent NICE 2bd home,58:30.8,0101000020E610000075594C6C3EDA434043572250FD03...,Coastal
11,Shared room,Kenya,Nairobi,0,5.0,1,45,Short stay Accomodation.,58:30.8,0101000020E61000004DF4F92823624240A1F5F065A248...,City

In [59]:
#Drop these columns
airbnb_df.drop('room_type', axis=1, inplace=True)
#Drop the 'latitude' column
airbnb_df.drop('city', axis=1, inplace=True)
#Drop the 'longitude' column
airbnb_df.drop('bedrooms', axis=1, inplace=True)
airbnb_df.drop('last_modified', axis=1, inplace=True)
airbnb_df.drop('location', axis=1, inplace=True)

In [60]:
# Rename the column
airbnb_df = airbnb_df.rename(columns={'overall_satisfaction': 'ratings'})

In [61]:
airbnb_df.head(5)

,neighborhood,reviews,ratings,price,name,theme
0,Nairobi,33,5.0,100,Home next National Park!,City
1,Kilifi,3,5.0,65,family room,Coastal
2,Mombasa,1,4.0,70,Geo Mara Mombasa Beach Getaway,Coastal
3,Nairobi,1,4.0,80,Westlands Backpackers,City
4,Laikipia,0,4.5,75,A home away from home!,Countryside

TRAIN THE MODEL

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.model_selection import train_test_split
import joblib
import pandas as pd

In [63]:
# Save the cleaned DataFrame to a CSV file after cleaning step
cleaned_data_path = 'cleaned_data.csv'
airbnb_df.to_csv(cleaned_data_path, index=False)

In [64]:
# Split the data into training and testing sets
train_df, test_df = train_test_split(airbnb_df, test_size=0.2, random_state=42)

In [65]:
# TF-IDF Vectorization for training data
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix_train = tfidf_vectorizer.fit_transform(train_df['theme'] + ' ' + train_df['neighborhood'])

# Compute cosine similarity for training data
cosine_sim_train = linear_kernel(tfidf_matrix_train, tfidf_matrix_train)

In [66]:
# Save the model
joblib.dump(tfidf_vectorizer, 'tfidf_vectorizer.pkl')
joblib.dump(cosine_sim_train, 'cosine_sim_train.pkl')

['cosine_sim_train.pkl']

In [67]:
# Load necessary libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import joblib

# Load the cleaned DataFrame
cleaned_data_path = 'cleaned_data.csv'
airbnb_df = pd.read_csv(cleaned_data_path)

# Load the saved model
tfidf_vectorizer = joblib.load('tfidf_vectorizer.pkl')
cosine_sim_train = joblib.load('cosine_sim_train.pkl')
tfidf_matrix_train = tfidf_vectorizer.transform(airbnb_df['theme'] + ' ' + airbnb_df['neighborhood'])

# Function to get recommendations based on theme and neighborhood
def get_recommendations(theme, neighborhood):
    input_text = f"{theme} {neighborhood}"
    theme_vectorized = tfidf_vectorizer.transform([input_text])
    cosine_scores = linear_kernel(theme_vectorized, tfidf_matrix_train).flatten()
    sim_scores = list(enumerate(cosine_scores))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:20]  # Get top recommendations
    airbnb_indices = [i[0] for i in sim_scores]
    
    recommendations = []
    for idx in airbnb_indices:
        recommendation = {
            'name': airbnb_df['name'].iloc[idx],
            'ratings': airbnb_df['ratings'].iloc[idx],
            'price': airbnb_df['price'].iloc[idx]
        }
        recommendations.append(recommendation)
    
    return recommendations

# Example usage:
theme_input = "Coastal"
neighborhood_input = "Mombasa"
recommendations = get_recommendations(theme_input, neighborhood_input)
for idx, recommendation in enumerate(recommendations, 1):
    print(f"Recommendation {idx}: {recommendation['name']} - Ratings: {recommendation['ratings']}, Price: {recommendation['price']}")

Recommendation 1: Barizi Apartment - Ratings: 4.0, Price: 45
Recommendation 2: Room rent NICE 2bd home - Ratings: 5.0, Price: 45
Recommendation 3: hotbox besides mombasa city stadium - Ratings: 5.0, Price: 55
Recommendation 4: Palace - Ratings: 3.0, Price: 50
Recommendation 5: Secure prime location - Ratings: 2.0, Price: 24
Recommendation 6: Amazing apartment with a balcony - Ratings: 4.0, Price: 15
Recommendation 7: Shared Beach House Likoni - Ratings: 5.0, Price: 10
Recommendation 8: Single room next ocean, Tudor - Ratings: 4.5, Price: 15
Recommendation 9: EXECUTIVE 4TH AVENUE VILLA - Ratings: 4.0, Price: 150
Recommendation 10: Cosy Nyali, Furnished Apartment - Ratings: 4.0, Price: 95
Recommendation 11: MY Apartment - Ratings: 5.0, Price: 45
Recommendation 12: Kenya Holiday Breeze Travel Agency - Ratings: 5.0, Price: 757
Recommendation 13: English Point Marina - Ratings: 5.0, Price: 550
Recommendation 14: Executive 4 bedroom beachside villa - Ratings: 4.0, Price: 580
Recommendation 15: Sahil furnished apartment Near city Mall Nyali - Ratings: 4.0, Price: 350
Recommendation 16: An Executive holiday home nyali. - Ratings: 5.0, Price: 350
Recommendation 17: Fabulous 4BD Massionette Nyali Golf - Ratings: 4.0, Price: 350
Recommendation 18: Neptune Villas - Ratings: 5.0, Price: 430
Recommendation 19: Tamarind Breeze - Ratings: 3.5, Price: 350